
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-background{
  position: fixed;
  top:0;

  width: 100%;
  height: 100%;
  background-image: url('assets/images/login-fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 300px;
  overflow: auto;
}

.submit-container{
  display: flex;
  flex-direction: column;
}

.producto-description-container{
  display: flex;
  flex-direction: column;
}

.add-producto-container{
  display: flex;
}


.account-icon{
  font-size: 15.0rem !important;
  user-select: none;
}

.container, #navbar{
  min-width: 300px !important;
}

#navbar{
  position: sticky;
  top: 0;
  z-index: 100;
}

i{
  font-size: 1.3rem !important;
}
